.home {
	padding: 1rem;

	.intro {
		font-size: 18px;
	}

	.logo {
		.outer {
			width: 10vw;
			height: 15vw;
			border: 1px solid seagreen;
			position: relative;
			// animation: App-logo-spin infinite 20s linear;
		}

		.inner {
			position: absolute;
			left: -2.5vw;
			top: 5vh;
			width: 15vw;
			height: 10vw;
			border: 1px solid yellowgreen;
			// animation: App-logo-spin infinite 20s linear;
		}
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
