.root {
	.title {
		// font-family: 'Open Sans', sans-serif;
		font-size: 1.4rem;
		font-weight: bold;
	}
	.row {
		display: flex;
		justify-content: space-between;
	}
	.info {
		text-align: center;
		padding: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
