.list-item {
	padding: 0.9rem 1.5rem !important;
	margin: 0.5rem 0 !important;
	.icon {
		width: 35px;
		height: 35px;
	}

	.text {
		font-size: 19px;
		font-weight: 500;
	}
}

.active {
	background-color: wheat !important;
	border-radius: 0 50px 50px 0 !important;
	// color: whitesmoke !important;
}
