.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: -50px;
	cursor: pointer;

	.image {
		width: 5.5vw;
		height: 5.5vw;
	}

	.brand-text {
		font-family: 'Tangerine', sans-serif;
		font-size: 3rem;
		text-shadow: 4px 4px 4px #fafafa;

		span:nth-child(1) {
			color: steelblue;
		}
		span:nth-child(2) {
			color: rgb(105, 7, 204);
		}
		span:nth-child(3) {
			color: seagreen;
		}
	}
}
