.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 1rem;

	.profile-img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		box-shadow: 0 0 3px 7px #fafafa;
		background-image: linear-gradient(
			to top,
			#fcc5e4 0%,
			#fda34b 15%,
			#ff7882 35%,
			#c8699e 52%,
			#7046aa 71%,
			#0c1db8 87%,
			#020f75 100%
		);
		display: inline-block;
		margin-right: 1rem;
	}

	.brand-text {
		// font-family: 'Tangerine', sans-serif;
		font-family: 'Grandstander', cursive;
		font-size: 1.5rem;
		font-weight: bold;
		text-shadow: 4px 4px 4px #fafafa;

		span:nth-child(1) {
			color: slateblue;
		}
		span:nth-child(2) {
			color: lighten($color: #f57587, $amount: 1);
		}
		span:nth-child(3) {
			color: darken($color: #c8699e, $amount: 1);
		}
	}
}
