.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 1rem;

	.image {
		width: 5vw;
		height: 5vw;
		border-radius: 50%;
	}

	.brand-text {
		font-family: 'Tangerine', sans-serif;
		// font-family: 'Open Sans', sans-serif;
		font-size: 3rem;
		text-shadow: 4px 4px 4px #fafafa;

		span:nth-child(1) {
			color: slateblue;
		}
		span:nth-child(2) {
			color: saddlebrown;
		}
		span:nth-child(3) {
			color: seagreen;
		}
	}
}
