.root {
	h1 {
		font-size: 2.4rem;
		font-family: 'Grandstander', cursive;
		text-align: center;
		margin: 1rem 0;
	}
	.subscribe-text {
		font-size: 20.5px;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		line-height: 2rem;
	}

	.subscribe-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.svg {
			max-width: 300px;
			max-height: 300px;
		}
		.form {
			margin: 1rem auto;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.btn {
				padding: 0.9rem 2.2rem;
				margin-left: 1.5rem;
			}
		}
		.subscribe-text {
			font-size: 1.1rem;
		}

		.icon {
			width: 32px;
			height: 32px;
		}
		img .circle {
			border-radius: 50%;
		}
	}
}
@media (max-width: 800px) {
	.root {
		.form {
			flex-direction: column !important;
			justify-content: center !important;
			align-items: center !important;
		}
		.btn {
			margin-top: 1rem;
		}
	}
}

@media (min-width: 800px) {
	.root {
		.form {
			.input {
				margin-right: 1rem;
			}
		}
	}
}
