.form {
	padding: 2rem 1rem;
	flex: 1;
	width: 100%;
	max-height: 65vh;

	.input {
		margin: 0.75rem 0;
	}

	.form-action {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 1rem 0;

		.cancel {
			color: orangered;
		}
	}
}
